languague: general
env:
  - today=`date +%Y-%m-%d-%H-%M`
  - WEBSITE_INDEX_DOC=index-$today.html
 # skip the install and build steps
install: true
script: true
 before_deploy: 
# we do this for cache-control. this is my favorite method.
# essentially your browser will be like, 
 # "oh, index.html? I already saw that yesterday. I'll just load it from local memory"
 # so that way any new changes won't be seen for a while.
 # to fix this, we just change the name of the index.html file
 # every time we deploy.
   - cp index.html $WEBSITE_INDEX_DOC
 
 deploy:
   provider: s3
   access_key_id: "$TRAVIS_S3_ACCESS_KEY"
   secret_access_key: "$TRAVIS_S3_ACCESS_SECRET"
   bucket: "www.dennisandjessica.com"
   acl: public_read
 
 after_deploy:
   - echo "{\"IndexDocument\":{\"Suffix\":\"$WEBSITE_INDEX_DOC\"}}" > website.json
   - aws s3 put-bucket-website --bucket \
     $DENNISANDJESSICA_S3_BUCKET \
     --website-configuration website.json
     