/* Basic Elements */
body, html {
	font-family: 'Lora', serif;
	height: 100%;
	line-height: 2rem;

	scroll-behavior: smooth;
}

/* Layout */
.break-from-top {
	margin-top:100px;
}

/* Blocks */
.bg-block {
	/* Full height */
    min-height: 100%;
}

.bg-half-block {
	max-height: 100%;
}

.bg-image {
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-beige {
	background-color: #f8f6f4;
}
.bg-green {
	background-color: #d2f2e2;
}

/* Background Images */
.bg-paris-eiffel {
	background-image: url(originals/eiffel-closeup.jpg);
	background-position: right 80%;
}

.bg-eiffel-balloons {
	background-image: url(eiffel-balloons-cropped.jpg);
	background-position: right;
}

.bg-proposal {
	background-image: url(originals/proposal.jpg);
	background-position: left;
}

/* Text */
.title-font {
	font-family: 'Dancing Script', cursive;
	font-size: 2rem;
}

.title {
	font-size: 4rem;
}

.subtitle-font {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 0.9rem;
	font-weight: bold;
	letter-spacing: 1px;
}

.subtitle {
	font-size: 1.4rem;
	letter-spacing: 2px;
}

.text-red {
	color: #f07677;
}

/* Buttons */
.btn-huge {
	margin-top:50px;
	padding: 3rem;
}

/* Nav */
.nav-container {
	padding-top: 5px;
	padding-left: 10px;
	padding-right:10px;
	max-width: none;
	
}

/* Countdown */
#countdown-container {
	padding-top:20px;
	padding-bottom: 20px;
}
.countdown-title {
	padding-top: 25px;
	padding-bottom: 25px;
}

.bridesmaids, .groomsmen {
	padding-top: 10px;
}

/* Bridesmaids / Groomsmen */
.bridesmaids img, .groomsmen img {
	height: 100px;
}




