/* Basic Elements */
body, html {
	font-family: 'Cardo', serif;
	letter-spacing: 2px;

	height: 100%;
	line-height: 2rem;

	position: relative;

	scroll-behavior: smooth;
}

/* Layout */
.break-from-top {
	padding-top:50px;
}
.vertical-centerish {
	padding-top:20%;
}

/* Blocks */
#content {
	min-height: 100%;
	position:relative;
	margin-top: 135px; /* for header on non-mobile */
	padding-bottom: 20px;
}
.bg-block {
	/* Full height */
    min-height: 100%;
}
.section {
	height: 100%;
}

.half-section {
	max-height: 100%;
}

.bg-image {
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-image-fixed {
	background-attachment: fixed;
}

/* colors */
.bg-beige {
	background-color: #f8f6f4;
}
.bg-green {
	background-color: #d2f2e2;
}
.bg-gray {
	background-color: #e3e3e3;
}

/* Background Images */
.bg-paris-eiffel {
	background-image: url(originals/eiffel-closeup.jpg);
	background-position:  80% center;
}

.bg-eiffel-balloons {
	background-image: url(eiffel-balloons-cropped.jpg);
	background-position: right;
}

.bg-proposal {
	background-image: url(originals/proposal.jpg);
	background-position: left bottom;
}

.bg-delhi-ny {
	background-image: url(images/delhi-ny-bg.jpg);
}

.bg-wreath {
	background-image: url(images/greenery/wreath.png);
	background-size: auto 80%;
}
.bg-upper-left-greenery {
	background-image: url(images/greenery/upper-left-corner.png);
	background-size: 40%;
	background-repeat: no-repeat;
}
.bg-lower-right-greenery {
	background-image: url(images/greenery/lower-right-corner.png);
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: bottom right;
}

/* Text */
.title-font {
	font-family: 'Cardo', serif;
	letter-spacing: 2px;
}
.title-size {
	font-size: 2rem;
}
.title {
	padding-top:50px;
}

.subtitle-font {
	font-family: 'Cardo', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}
.subtitle-size {
	font-size: 0.9rem;
}

.text-red {
	color: #f07677;
}

.text-heading {
	position:absolute;
	margin-right:auto;
	margin-left:auto;
	left:0;
	right:0;
	font-size: 3.5rem;
	line-height: 4rem;
}
/* for each section number, starting at 0 */
.text-heading-0 {
	top:45%;
}
.text-heading-1 {
	top:125%;
}

.text-heading-2 {
	top:235%;
}
.text-heading-3 {
	top:335%;
}


/* Buttons */
.btn-huge {
	margin-top:50px;
	padding: 3rem;
}


/* Nav */
#navbar, header {
	background-color: white;
}
header .brand {
	padding-top: 10px;
}
.header-subtext {
	display:inline-block;
	padding: 10px;
	font-size: 0.8rem;
}
@media screen and (max-width:575px){ /* xs */
	.header-subtext {
		display: none;
	}
	#content {
		 /* to accommodate no header subtext in header when on *MOBILE*, make margin top smaller */
		margin-top: 100px;
	}
}

.nav-container {
	padding-left: 10px;
	padding-right:10px;
	max-width: none;	
}


/* Countdown */
#countdown-container {
	padding-top:20px;
	padding-bottom: 20px;
}
.countdown-title {
	padding-top: 25px;
	padding-bottom: 25px;
}

.bridesmaids, .groomsmen {
	padding-top: 10px;
}

/* Bridesmaids / Groomsmen */
.entourage-card {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.entourage-card img {
	height: 80px;
}

.entourage-card .card-label {
	padding-top: 5px;
	padding-right: 20px;
}

.card-label h3 {
	font-size: 1.5rem;
}
.card-label h5 {
	font-size: 0.9rem;
}

/* Photos page */

