body, html {
	font-family: 'Lora', serif;
	height: 100%;
	line-height: 2rem;
}

.bg-block {
	/* Full height */
    height: 100%;
}

.bg-image {
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-beige {
	background-color: #f8f6f4;
}

.title-font {
	font-family: 'Dancing Script', cursive;
	font-size: 2rem;
}

.title {
	font-size: 4rem;
}

.subtitle-font {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 0.9rem;
	font-weight: bold;
	letter-spacing: 1px;
}

.subtitle {
	font-size: 1.4rem;
	letter-spacing: 2px;
}

.break-from-top {
	margin-top:100px;
}

.btn-huge {
	margin-top:50px;
	padding: 3rem;
}