/* Basic Elements */
body, html {
	font-family: 'Lora', serif;
	height: 100%;
	line-height: 2rem;

	position: relative;

	scroll-behavior: smooth;
}

/* Layout */
.break-from-top {
	padding-top:50px;
}


.bottom { /* estimate! double check before using */
	padding-top: 40%;
}

/* Blocks */
#content {
	min-height: 100%;
	position:relative;
	margin-top: 135px; /* for header */
	padding-bottom: 20px;
}
.bg-block {
	/* Full height */
    min-height: 100%;
}

.bg-half-block {
	max-height: 100%;
}

.bg-image {
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* colors */
.bg-beige {
	background-color: #f8f6f4;
}
.bg-green {
	background-color: #d2f2e2;
}
.bg-gray {
	background-color: #e3e3e3;
}

/* Background Images */
.bg-paris-eiffel {
	background-image: url(originals/eiffel-closeup.jpg);
	background-position: right 80%;
}

.bg-eiffel-balloons {
	background-image: url(eiffel-balloons-cropped.jpg);
	background-position: right;
}

.bg-proposal {
	background-image: url(originals/proposal.jpg);
	background-position: left;
}

/* Text */
.title-font {
	font-family: 'Dancing Script', cursive;
	font-size: 2rem;
}

.title {
	font-size: 4rem;
}

.subtitle-font {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 0.9rem;
	font-weight: bold;
	letter-spacing: 1px;
}

.subtitle {
	font-size: 1.4rem;
	letter-spacing: 2px;
}

.text-red {
	color: #f07677;
}

/* Buttons */
.btn-huge {
	margin-top:50px;
	padding: 3rem;
}


/* Nav */
#navbar, header {
	background-color: white;
}
header .brand {
	padding-top: 10px;
}

.nav-container {
	padding-left: 10px;
	padding-right:10px;
	max-width: none;	
}


/* Countdown */
#countdown-container {
	padding-top:20px;
	padding-bottom: 20px;
}
.countdown-title {
	padding-top: 25px;
	padding-bottom: 25px;
}

.bridesmaids, .groomsmen {
	padding-top: 10px;
}

/* Bridesmaids / Groomsmen */
.entourage-card {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.entourage-card img {
	height: 80px;
}

.entourage-card .card-label {
	padding-top: 5px;
	padding-right: 20px;
}

.card-label h3 {
	font-size: 1.5rem;
}
.card-label h5 {
	font-size: 0.9rem;
}

/* Photos page */

