/* 
  photo zoom on hover css
*/

.img-container img {
    -webkit-transition: all 0.25s ease; /* Safari and Chrome */
    -moz-transition: all 0.25s ease; /* Firefox */
    -ms-transition: all 0.25s ease; /* IE 9 */
    -o-transition: all 0.25s ease; /* Opera */
    transition: all 0.25s ease;
}

.img-container:hover img {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}

.img-container {
  width: 100%;
}

/*
Carousel/Modal window
*/
.modal-body {
  height: 100%;
}
.modal-dialog {
  min-width: 60%;
}
.modal-content {
  background-color: transparent;
  border: none;
}
.modal-header {
  border: none;
}

button.close {
  color: white;
}

.carousel {
  height:95%;
  overflow: hidden;
}
.carousel-item {
  text-align: center;
}

.carousel img {
  width: 100%;
}
.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}


/* 
custom grid (not Bootstrap); stolen from 
https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp
*/

.collage-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.collage-column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.collage-column img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: 100%;
  width:100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .collage-column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .collage-column {
    flex: 100%;
    max-width: 100%;
  }
}